{% extends "base.html" %}
{% block block_1 %}
<div id="Post" class="post" style="margin: 50px;">
    <h4> {{ post['post_description'] }} </h4>
    <div class="line_disp" style="text-align:right;">{{ post['post_date'] }}</div>
    <br><br>
    <img src="data:image/jpeg;base64,{{ post['post_photo'] }}" style="width: 1000px;"><br><br>
    <a href="/user/{{ user_id }}/post/{{ post['post_id'] }}/all_comments" class="btn btn-outline-secondary">View
        comments</a>
    <a href="/user/{{ user_id }}/post/{{ post['post_id'] }}/comment" class="btn btn-outline-secondary">Add
        comment</a>
    <a href="?post_id={{ post['post_id'] }}" class="btn btn-outline-secondary">Like {{ post['post_likes'] }}</a>
    <br>
</div>
<br>
{% for comm in comms['comms'] %}
<div id="Comment">
    <div class="card text-dark bg-light mb-3" style="margin: 50px;">
        <div class="card-header">
            <a href="/user/{{ user_id }}"><h6>{{ comm['user_name'] }}</h6></a>
            {% if comm['user_id'] == current_user.id %}
            <a href="/user/{{ user_id }}/post/{{ post['post_id'] }}/comment/red/{{comm['id']}}"><span class="badge rounded-pill bg-secondary">Edit</span></a>
            <a href="/user/{{ user_id }}/post/{{ post['post_id'] }}/comment/del/{{comm['id']}}"><span class="badge rounded-pill bg-danger">Delete</span></a>
            {% endif %}
            <h5 class="card-title"> {{ comm['text'] }}</h5>
            {% if comm['isliked'] %}
            <button type="button" class="btn btn-danger">Liked {{ comm['n_like'] }}</button>
            {% else %}
            <a href="/user/{{ user_id }}/post/{{ post['post_id'] }}/comment/add_like/{{ comm['id'] }}"
               class="btn btn-outline-secondary">Like {{ comm['n_like'] }}</a>
            <br>
            {% endif %}
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}