{% extends "base.html" %}
{% block block_1 %}
<img src="https://media.rawg.io/media/resize/1280/-/screenshots/e2b/e2b998a901d3c8bdb0291e4afcfa2a06.jpg" style="margin:50px;">
<h1>The Julian day is the continuous count of days since the beginning of the Julian period, and is used primarily by astronomers, and in software for easily calculating elapsed days between two events (e.g. food production date and sell by date).</h1>
<form method="post">
<div>
    {{ form.csrf_token }}
</div>
{% for field in form if field.name != 'csrf_token' %}
    <div>
        <p style="text-align:center">{{ field() }}</p>
        {% for error in field.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>
{% endfor %}
</form>
<br>
<h3>{{ jd_date }}</h3>

{% endblock %}