{% extends "base.html" %}

{% block block_1 %}
{% for i in posts['posts'] %}
<div id="Post" class="post">
    <div style="text-align: left">
        <a href="/user/{{i['user_id']}}">{{i['user_name']}}</a>
    </div>
    <h4> {{ i['post_description'] }} </h4>
    <div style="text-align:right;">{{ i['post_date'] }}</div>
    <br><br>
    <img src="data:image/jpeg;base64,{{ i['post_photo'] }}" style="width: 1000px;"><br><br>

    <!--    <a href="/user/{{ user_id }}/post/{{ i['post_id'] }}/all_comments" class="btn btn-outline-secondary">View-->
    <!--        comments</a>-->
    <!--    <a href="/user/{{ user_id }}/post/{{ i['post_id'] }}/comment" class="btn btn-outline-secondary">Add-->
    <!--        comment</a>-->
    <!--    {% if i['isliked'] %}-->
    <!--    <button type="button" class="btn btn-danger">Liked {{ i['post_likes'] }}</button>-->
    <!--    {% else %}-->
    {% if current_user.is_authenticated %}
        <a href="/user/{{current_user.id}}/post/add_like/{{i['post_id']}}" class="btn btn-outline-secondary">Like {{
            i['post_likes'] }}</a>
        
    {% endif %}
    <a href="/user/{{ current_user.id }}/post/{{ i['post_id'] }}/all_comments" class="btn btn-outline-secondary">View
        comments</a>
    <!--    <br>-->
    <!--    {% endif %}-->
</div>
<br>
{% endfor %}
{% endblock %}