{% extends "base.html" %}

{% block block_1 %}

<br>
<div style="text-align: center" class="container bg-secondary text-white rounded">
    <font size="+2"><p>AddPost</p></font>
    <form action="http://127.0.0.1:8080/user/{{ current_user.id }}/post/red/{{ values['post_id'] }}" method = "POST" 
       enctype = "multipart/form-data">
        <input type="text" name="text" value="{{values['text']}}"> <br>
        <input type="file" name="file"/> <br>
        <input type="submit"/>
    </form> 
    <br>
    {{message}}
    <br>
</div>

{% endblock %}