{% extends "base.html" %}

{% block block_1 %}
<div id="ProfilePicture" class="line_disp">
    <img src="https://i.pinimg.com/originals/55/7d/d6/557dd6dad96f28ec985dd44c5b8a16bf.jpg" class="img-thumbnail"
         alt="..." width="200">
</div>

<div class="line_disp">
    <div id="UserName" class="">
        <h1> {{ name }} </h1>
    </div>
    <div id="AddPostButton" class="line_disp">
        <a href="/user/{{ user_id }}/post/add" class="btn btn-outline-secondary">New Post...</a>
    </div>
    <div id="DialogButton" class="line_disp">
        <a href="/user/{{ user_id }}/chat" class="btn btn-outline-secondary">Messages</a>
    </div>
</div>

{% for i in posts['posts'] %}
<div id="Post" class="post">
    {{ i['post_description'] }}<br>
    <img src="{{ i['post_photo'] }}"><br>
    <a href="/user/{{ user_id }}/chat" class="btn btn-outline-secondary">Add comment</a>
    <a href="?post_id={{ i['post_id'] }}" class="btn btn-outline-secondary">Like</a>
    {% block block_of_comments %}{% endblock %}
    <br>
</div>
<br>
{% endfor %}

{% endblock %}