{% extends "base.html" %}

{% block block_1 %}
<div>
    <div class="card" style="width: 18rem; float: right; display: inline-block;">
        <ul class="list-group list-group-flush">

            <li class="list-group-item"><h5>My birthday:</h5> {{ birthday }}</li>
            <li class="list-group-item"><h5>My address:</h5> {{ address }}</li>
            <li class="list-group-item"><h5>Im here from:</h5> {{ reg_date }}</li>

        </ul>
    </div>
    <div>
        <div id="UserName" class="">
            <h1> {{ name }} </h1>
        </div>
        <div class="card" style="width: 60rem;">
            <div class="card-body">
                <h5> {{ about }} </h5>
            </div>
        </div>
    </div>
    <br>
    {% if user_id != current_user.id %}
    <div id="DialogButton" class="line_disp" style="margin-left: 30px">
        <a href="/chat/{{ user_id }},{{current_user.id}}" class="btn btn-outline-secondary">Messages</a>
    </div>
    {% else %}
    <div id="AddPostButton" class="line_disp" style="margin-left: 30px">
        <a href="/user/{{ user_id }}/post/add" class="btn btn-outline-secondary">New Post...</a>
    </div>
    {% endif %}
</div>
<br><br><br>
{% for i in posts['posts'] %}
<div id="Post" class="post">
    <div style="text-align: left">
        <a href="/user/{{user_id}}"><h3>{{ title }}</h3></a>
        {% if user_id == current_user.id %}

        <a href="/user/{{user_id}}/post/del/{{ i['post_id'] }}"><span class="badge rounded-pill bg-danger"
                                                                      style="float:right;">Delete</span></a>
        <a href="/user/{{user_id}}/post/red/{{ i['post_id'] }}"><span class="badge rounded-pill bg-secondary"
                                                                      style="float:right;">Edit</span></a>
        {% endif %}
    </div>
    <h4> {{ i['post_description'] }} </h4>
    <div style="text-align:right;">{{ i['post_date'] }}</div>
    <br><br>
    <img src="data:image/jpeg;base64,{{ i['post_photo'] }}" style="width: 1000px;"><br><br>

    <a href="/user/{{ user_id }}/post/{{ i['post_id'] }}/all_comments" class="btn btn-outline-secondary">View
        comments</a>
    <a href="/user/{{ user_id }}/post/{{ i['post_id'] }}/comment" class="btn btn-outline-secondary">Add
        comment</a>
    {% if i['isliked'] %}
    <button type="button" class="btn btn-danger">Liked {{ i['post_likes'] }}</button>
    {% else %}
    <a href="/user/{{current_user.id}}/post/add_like/{{i['post_id']}}" class="btn btn-outline-secondary">Like {{
        i['post_likes'] }}</a>
    <br>
    {% endif %}
</div>
<br>
{% endfor %}

{% endblock %}